/* Estilos Globais para o Body */

/* Define o estilo padrão para o corpo da página, incluindo fonte, margens, preenchimento, 
   e configurações de flexbox para garantir que o conteúdo seja exibido corretamente
   e que o footer permaneça na parte inferior */
   body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    text-align: center;
    display: flex; /* Configura o body como um contêiner flexível */
    flex-direction: column; /* Organiza o conteúdo em uma coluna */
    min-height: 100vh; /* Garante que o body ocupe pelo menos a altura total da tela */
}



/* Estilos para Contêineres Principais */

/* Define estilos para contêineres principais para garantir que o conteúdo seja centralizado
   e que o espaço disponível seja usado corretamente */
.container, .main-content {
    text-align: center; /* Centraliza o texto dentro dos contêineres */
    flex: 1; /* Permite que o conteúdo principal expanda para ocupar o espaço disponível */
}




/* Estilos para o Header */

/* Configura o estilo do cabeçalho, incluindo cor de fundo e borda inferior */
header {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}





/* Estilos para o Footer */

/* Define o estilo do rodapé, garantindo que ele esteja sempre centralizado
   e alinhado na parte inferior da página */
footer {
    background-color: #fff;
    border-top: 1px solid #ddd;
    text-align: center;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}




/* Estilos para Imagens Gerais e do Carrossel */

/* Configura o estilo padrão para imagens em cards e carrossel */
.card-img-top, .custom-size {
    width: auto; /* Mantém a largura automática para preservar a proporção */
    max-width: 100%; /* Garante que a largura não exceda o tamanho do container */
    height: auto; /* Mantém a altura automática para preservar a proporção */
    max-height: 200px; /* Define uma altura máxima para uniformizar o tamanho */
    object-fit: contain; /* Ajusta a imagem para que fique contida no container sem cortar */
    display: block;
    margin: 0 auto; /* Centraliza a imagem dentro do container */
}




/* Estilos Específicos para Imagens do Carrossel */

/* Aumenta o tamanho das imagens no carrossel especificamente para torná-las maiores */
.custom-size {
    max-height: 400px; /* Aumenta a altura máxima das imagens do carrossel */
}




/* Estilos para o Carrossel */

/* Configura o carrossel para ser centralizado verticalmente na tela
   e ajusta sua altura mínima para ocupar uma parte significativa da tela */
.carousel.slide {
    display: flex; /* Configura o carrossel como um contêiner flexível */
    align-items: center; /* Centraliza o conteúdo verticalmente */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    min-height: 80vh; /* Garante que o carrossel ocupe pelo menos 80% da altura da tela */
}
